$maincolor: rgb(146, 239, 255);
$contrastcolor: black; // 변수 선언 방법

@mixin black-text-reactblue-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin reactblue-text-black-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}

body {
    margin: 0;
}

textarea {
    width: 19rem;
}

.App {
    text-align: center;
    font-family: Helvetica, sans-serif, Arial;
}

// header
.header {

    a {
        text-decoration: none;
    }

    h1 {
        @include black-text-reactblue-bg;
        margin: 0;
        padding: 1.5% 0 1.5% 0;
    }
}

.nav {
    @include black-text-reactblue-bg;
    padding: 2% 0 2% 0;

    a {
        color: black;
        text-decoration: none;
        padding: 0 2% 0 2%;
    }
}

Link {
    text-decoration: none;
}

main {
    margin-top: 6%;
}

form {
    padding-bottom: 4%;
}

button {
    @include black-text-reactblue-bg;
    display: block;
    margin: auto;
    font-size: 0.8em;
    padding: 5px;
}

#enter {
    text-decoration: none;
    color: black;
}

#title {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

a:hover {
    color: rgb(255, 224, 229);
}

#title:hover {
    color: red;
}